pkgbase = whispers-vulkan-git
	pkgdesc = Local-first speech-to-text dictation for Wayland (latest git build with Vulkan)
	pkgver = r0.0000000
	pkgrel = 1
	url = https://github.com/OneNoted/whispers
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = pkgconf
	makedepends = vulkan-headers
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = noto-fonts
	depends = vulkan-icd-loader
	depends = wl-clipboard
	optdepends = python: experimental faster-whisper and NeMo runtimes
	optdepends = vulkan-radeon: AMD Radeon Vulkan driver
	optdepends = vulkan-driver: Vulkan driver for other GPUs
	provides = whispers
	conflicts = whispers
	conflicts = whispers-bin
	conflicts = whispers-git
	conflicts = whispers-cuda-bin
	conflicts = whispers-cuda-git
	conflicts = whispers-vulkan-bin
	source = whispers::git+https://github.com/OneNoted/whispers.git
	sha256sums = SKIP

pkgname = whispers-vulkan-git
